In [1]:
import pandas as pd

df = pd.read_csv("../data/AAPL.csv")
print(df.columns)
df.head()

Index(['Price', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

,Price,Close,High,Low,Open,Volume
0,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
1,Date,NaN,NaN,NaN,NaN,NaN
2,2018-01-02,40.426815032958984,40.436204433265914,39.72276041223238,39.93397894705455,102223600
3,2018-01-03,40.4197883605957,40.96425916920155,40.356426001755686,40.49019456253724,118071600
4,2018-01-04,40.60752487182617,40.710786792933035,40.384574949985684,40.492527990410416,89738400

In [2]:
# Load Data 
df = pd.read_csv("../data/AAPL.csv")

# If no Date column, convert index to datetime
if "Date" in df.columns:
    df["Date"] = pd.to_datetime(df["Date"])
    df.set_index("Date", inplace=True)
else:
    df.index = pd.to_datetime(df.index)
    df.index.name = "Date"

df = df.sort_index()
df.head()

,Price,Close,High,Low,Open,Volume
Date,,,,,,
1970-01-01 00:00:00.000000000,Ticker,AAPL,AAPL,AAPL,AAPL,AAPL
1970-01-01 00:00:00.000000001,Date,NaN,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.000000002,2018-01-02,40.426815032958984,40.436204433265914,39.72276041223238,39.93397894705455,102223600
1970-01-01 00:00:00.000000003,2018-01-03,40.4197883605957,40.96425916920155,40.356426001755686,40.49019456253724,118071600
1970-01-01 00:00:00.000000004,2018-01-04,40.60752487182617,40.710786792933035,40.384574949985684,40.492527990410416,89738400

In [6]:


# Skip first 2 bad rows
df = pd.read_csv("../data/AAPL.csv", skiprows=2)

# Parse date
df["Date"] = pd.to_datetime(df["Date"])
df.set_index("Date", inplace=True)

df = df.sort_index()
df = df[["Close", "Open", "High", "Low", "Volume"]]  # Drop extra columns if needed
df = df.apply(pd.to_numeric, errors='coerce')        # Convert all to numeric

df.head()

KeyError: "None of [Index(['Close', 'Open', 'High', 'Low', 'Volume'], dtype='object')] are in the [columns]"

In [7]:
df = pd.read_csv("../data/AAPL.csv", header=2)

In [8]:
df = pd.read_csv("../data/AAPL.csv", header=3)

In [9]:
print(df.columns)

Index(['2018-01-02', '40.426815032958984', '40.436204433265914',
       '39.72276041223238', '39.93397894705455', '102223600'],
      dtype='object')

In [10]:
df = pd.read_csv("../data/AAPL.csv", header=2)

# Convert Date to datetime and set index
df["Date"] = pd.to_datetime(df["Date"])
df.set_index("Date", inplace=True)
df.sort_index(inplace=True)

# Optional: drop unwanted columns
keep_cols = ["Close", "Open", "High", "Low", "Volume"]
df = df[keep_cols]

# Convert strings to numeric (if needed)
df = df.apply(pd.to_numeric, errors='coerce')

df.head()

KeyError: "None of [Index(['Close', 'Open', 'High', 'Low', 'Volume'], dtype='object')] are in the [columns]"

In [11]:
import pandas as pd

df = pd.read_csv("../data/AAPL.csv", header=2)  # Or try header=3 if needed
print("🧠 Columns in your CSV:\n", df.columns.tolist())
df.head()

🧠 Columns in your CSV:
 ['Date', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5']

         Date  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5
0  2018-01-02   40.426815   40.436204   39.722760   39.933979   102223600
1  2018-01-03   40.419788   40.964259   40.356426   40.490195   118071600
2  2018-01-04   40.607525   40.710787   40.384575   40.492528    89738400
3  2018-01-05   41.069862   41.156695   40.612227   40.703754    94640000
4  2018-01-08   40.917328   41.213030   40.818757   40.917328    82271200